
        {% extends 'base.html' %}
        {% load static %}
        
        {% block title %}HOME{% endblock title %}
        
        {% block head %}
        <link rel="stylesheet" href="{% static 'home.css' %}">
        {% endblock head %}
        
        {% block body %}
        <header>
            <div class="text">
               <h1>Northern Railway, C&W Workshop</h1>
               <p>Warranty Management System</p>
               <a href="http://cwmnramvlko.in/" target="_blank">Click for more information.</a>
           </div>
       </header>
        
        {% endblock body %}
        
        
        